.theme-default {
	--text-prim: #f8f8f8;
	--text-sec: #d7d7d7;
	--accent: #383a41;
	--link: #8fa5e4;
	--bg-prim: #27292f;
	--bg-sec: #141519;
	--border: #666;
	--code-bg: #0d131c;
	--code-text: var(--text-prim);
	--solved: #41df56;
}

.theme-wikipedia {
	--text-prim: black;
	--text-sec: #333333;
	--accent: #eaecf0;
	--link: #36c;
	--bg-prim: white;
	--bg-sec: #f9f9f9;
	--border: #c8ccd1;
	--code-bg: #f8f9fa;
	--code-text: var(--text-prim);
	--solved: #cef2e0;
}

.theme-nord {
	--text-prim: #e5e9f0;
	--text-sec: #d8dee9;
	--accent: #4c566a;
	--link: #88c0d0;
	--bg-prim: #2e3440;
	--bg-sec: #3b4252;
	--border: #4c566a;
	--code-bg: #0d131c;
	--code-text: var(--text-prim);
	--solved: #a3be8c;
}

.theme-catppuccin {
	--text-prim: #cad3f5;
	--text-sec: #a5adcb;
	--accent: #363a4f;
	--link: #ee99a0;
	--bg-prim: #1e2030;
	--bg-sec: #24273a;
	--border: #363a4f;
	--code-bg: #0d131c;
	--code-text: var(--text-prim);
	--solved: #a6da95;
}

.theme-gruvbox-light {
	--text-prim: #3c3836;
	--text-sec: #3c3836;
	--accent: #d5c4a3;
	--link: #9b0511;
	--bg-prim: #fbf0c9;
	--bg-sec: #ebdab4;
	--border: #7c6f65;
	--code-bg: var(--text-prim);
	--code-text: var(--bg-prim);
	--solved: #98971a;
}

.theme-gruvbox-dark {
	--text-prim: #ecdbb5;
	--text-sec: #ecdbb5;
	--accent: #807266;
	--link: #84a598;
	--bg-prim: #282828;
	--bg-sec: #353230;
	--border: #504945;
	--code-bg: #0d131c;
	--code-text: var(--text-prim);
	--solved: #98971a;
}

.theme-og-fuzzjudge {
	--text-prim: #f8f8f8;
	--text-sec: #d7d7d7;
	--accent: #282a30;
	--link: #83a4f4;
	--bg-prim: #27292f;
	--bg-sec: #141519;
	--border: transparent;
	--code-bg: #0d131c;
	--code-text: var(--text-prim);
	--solved: #41df56;
}
