/*
* This program is free software: you can redistribute it and/or modify it
* under the terms of the GNU Lesser General Public License as published by the
* Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
* or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
* for more details.
*
* You should have received a copy of the GNU Lesser General Public License along
* with this program. If not, see <https://www.gnu.org/licenses/>.
*/

html {
	background-color: var(--bg-prim);
	color: var(--text-prim);
	overflow: hidden;
}

button {
	background-color: var(--accent);
	color: var(--text-sec);
	border: none;
	cursor: pointer;
	border-radius: 1px;
	size: 17px;
	padding: 4px;
	margin: 10px 0px 10px 0px;
	transition: all 0.1s ease;
	border: 1px solid var(--accent);
}

button:hover {
	border: 1px solid var(--text-sec);
}

#theme-container {
	background-color: var(--bg-prim);
	color: var(--text-prim);
	overflow: hidden;
	width: 1vw;
	height: 1vh;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--bg-sec);
}

::-webkit-scrollbar-thumb {
	background: var(--text-sec);
	opacity: 0.5;
	border-radius: 10px;
}

::-webkit-scrollbar-corner {
	background: var(--bg-sec);
}

.octicon {
	visibility: hidden;
	width: 0px;
}

a {
	color: var(--link);
}

select {
	background-color: var(--bg-sec);
	color: var(--text-sec);
	border: 1px solid var(--border);
	padding: 0.5rem;
	margin-left: 0.5rem;
	margin-top: -0.2rem;
}

* {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
}

h1 {
	font-family: "Shippori Mincho", serif !important;
}

h1 * {
	font-family: "Shippori Mincho", serif !important;
}

textarea {
	height: 4rem;
	width: 25rem;
	color: var(--text-sec);
	background-color: var(--bg-sec);
	margin: 0.25rem;
	border: 1px solid var(--border);
	padding: 0.5rem;
	font-family: monospace;
}

input {
	color: var(--text-sec);
	background-color: var(--bg-sec);
	margin: 0.25rem;
	border: 1px solid var(--border);
	padding: 0.5rem;
	font-family: monospace;
}

input:focus {
	outline: none;
	border: 1px solid var(--accent);
}

code,
pre {
	font-family: monospace;
}

textarea:focus {
	outline: none;
	border: 2px solid var(--accent);
}

textarea {
	border: 2px solid var(--border);
}

#instructions-md p {
	margin-left: 1rem;
}

#instructions-md pre {
	background-color: var(--code-bg);
	color: var(--code-text) !important;
	border-radius: 0.5rem;
	padding: 1rem;
	max-width: max-content;
	overflow: scroll;
	margin-left: 1rem;
}

#instructions-md :not(pre) > code {
	background-color: var(--code-bg);
	color: var(--code-text) !important;
	width: 100%;
	padding: 0.25rem;
	white-space: nowrap;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid var(--border);
	padding: 0.4rem;
}

td {
	text-align: left;
}

th {
	background-color: var(--bg-sec);
	color: var(--text-sec);
}

@media (min-width: 768px) {
	#instructions-md > pre {
		overflow: hidden;
	}
}

#instructions-md > ul li {
	margin-bottom: 8px;
}

/* For images in markdown */
img {
	max-height: 25rem;
	max-width: 90%;
}

.account-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.account-form input {
	width: 270px;
}

.account-form button {
	width: 120px;
}

.account-error {
	font-size: 0.9rem;
}
